#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

[mysqld]
bind-address = {{ mariadb_bind_address }}
port = {{ mariadb_port }}

{% if mariadb_slow_query_log_enabled == true %}
slow_query_log = 1
long_query_time = {{ mariadb_slow_query_time }}
{% endif %}

[embedded]

[mariadb]
